@model SistemaUTH.Models.Clase

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Maestro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maestro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.turno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.turno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.claseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
